.main-dashboard {
  /* margin: auto; */
  width: 100%;
  /* height: 80vh; */
  /* padding: auto; */
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* background-image: url("./assets/bg.webp"); */
  background-image: url("https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png");
  background-repeat: no-repeat;
  background-size: cover;
}

input {
  height: 20px;
  border-radius: 5px;
}

.main-dashboard form {
  /* margin: 10px; */
  width: 30%;
  padding: 2rem;
  border-radius: 15px;
  background-color: rgba(253, 239, 239, 0.196);
  backdrop-filter: blur(8px);
}
.main-dashboard label {
  color: white;
}

.main-dashboard input {
  padding: 5px 0px;
  background-color: rgba(253, 227, 227, 0.241);
  backdrop-filter: blur(8px);
  width: 100%;
  border: none;
}

.main-dashboard .form-label {
  margin-bottom: 1rem;
}

.add-movie-btn {
  width: 100%;
  margin-top: 1rem;
  padding: 10px 10px;
  border: none;
  border-radius: 15px;
  color: white;
  background-color: #730afc;
}
.add-movie-btn:hover {
  cursor: pointer;
  background-color: #8a34fa;
  transition-duration: 0.8s;
}
