.main-movie-list {
  display: flex;
  /* align-items: center; */
  flex-wrap: wrap;
  /* justify-content: center; */
  /* height: 100vh; */
  justify-content: space-between;
  column-gap: 30px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: black;
  
}
